<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  	  <parameter name="url" value="https://cosmetique.tn/connexion?back=my-account"></parameter>
    <classes>
      <class name="cosmetic.tests.LoginTest"/>
     <class name="cosmetic.tests.SearchProductTest"/>
       <class name="cosmetic.tests.AddCartTest"/>
       <class name="cosmetic.tests.LogoutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
